<launch>

  <!-- spawn table and tabletop object-->
  <param name="table_description" 
   command="$(find xacro)/xacro.py '$(find gazebo_worlds)/objects/table.urdf.xacro'" />
  <node name="spawn_table" pkg="gazebo" type="spawn_model" args="-urdf -param table_description -model table_1 -x 0.1" 
   respawn="false" output="screen" />

  <node name="spawn_object" pkg="gazebo" type="spawn_model" 
   args="-urdf -file $(find gt_meka_description)/objects/coke_can.urdf -model object_1 -x 0.8 -z 0.55" 
   respawn="false" output="screen" />

  <!-- parameters that give you reasonable physics as well as good speed --> 
  <!-- needed so that gripper joint stops on objects instead of oscillating forever --> 
  <node name="sor_pgs_iters" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_iters 50"/>
  <node name="sor_pgs_w" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_w 1.0"/>
  <node name="time_step" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo time_step 0.001"/>

</launch>

