<?xml version="1.0"?>
<model>
    <name>kitchen_gazebo</name>
    <version>1.0</version>
    <sdf>robots/kitchen_gazebo.URDF</sdf>
    <description>This is the kitchen modeling</description>
<!--<package>
  <description brief="kitchen_gazebo">kitchen_gazebo</description>
  <depend package="gazebo" />
  <author>Xiaoxi Liu</author>
  <license>BSD</license>
</package>-->
</model>
