<launch>
  <!-- Start Controller Manager -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch" />

  <!-- Start Meka Controller to Gazebo Interface -->
  <node name="meka2gazebo_node" pkg="gt_meka_description" type="meka_controller_interface.py" output="screen" />
   
  <!-- Torso -->
  <rosparam command="load" file="$(find gt_meka_description)/yaml/darci_torso_controller.yaml" />
  <node name="darci_torso_controller_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="torso_controller " />

  <node name="torso_sim_setup" pkg="gt_meka_description" type="torso_setup.py" output="screen" />

  <!-- Arms -->
  <rosparam command="load" file="$(find gt_meka_description)/yaml/simco_arm_controllers.yaml" />
  <node name="darci_arm_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="r_arm_controller l_arm_controller " />

  <!-- Head -->
  <rosparam command="load" file="$(find gt_meka_description)/yaml/simco_head_controller.yaml" />

  <node name="simco_head_controller_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="head_controller " />
  
  <node name="head_sim_setup" pkg="gt_meka_description" type="head_setup.py" output="screen" />
  
  <!-- Hands -->
  <rosparam command="load" file="$(find gt_meka_description)/yaml/simco_hand_controllers.yaml" />

  <!--node name="simco_hand_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="r_hand_controller l_hand_controller " /-->
  


</launch>
