<?xml version="1.0"?>
<robot>
  <gazebo refernce="darci">
      <material>Gazebo/Grey</material>
      <plugin name="ros_model_plugin" filename="libros_model_plugin.so" />
      <static> false </static>
  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <!--robotNamespace>curi</robotNamespace-->
    <robotNamespace></robotNamespace>
    <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
  </plugin>

   <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
    <updateRate>100.0</updateRate>
    <topicName>ft_sensor_right</topicName>
    <jointName>right_arm_j6</jointName>
  </plugin>

   <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
    <updateRate>100.0</updateRate>
    <topicName>ft_sensor_left</topicName>
    <jointName>left_arm_j6</jointName>
  </plugin>
 
  </gazebo>
</robot>
